// secrets.h.example
// Copy file ini jadi "secrets.h" lalu isi dengan data asli kamu
#define BLYNK_TEMPLATE_ID "your_template_id_here"
#define BLYNK_TEMPLATE_NAME "your_template_name_here"
#define BLYNK_AUTH_TOKEN "your_auth_token_here"

char ssid[] = "your_wifi_ssid";
char pass[] = "your_wifi_password";